.sidenav-left {
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: #ffffcc;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav-right {
    width: 90px;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    overflow-x: hidden;
    padding: 8px 0;
}

a .fas {
    color: #777;
}

a .fas:hover {
    color: rgb(70, 69, 69);
}
  
  
  







