#navbar-brand { 
    text-align: left;
    font-size: 300%;
    font-family:kaushan_script;
    min-height:65px;
    color:white !important;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.navbar_element {
    float: left;
}

a.navbar_element{
    display: block;
    padding: 8px;
    background-color: #dddddd;
}


.table{
    margin-top:100px !important;
}


#navbar_words0, #gpa0{
    color:white !important;
}

.form-control{
    height: 35px;
    width: 600px;
}
