#navbar-brand { 
    text-align: left;
    font-size: 300%;
    font-family:kaushan_script;
    min-height:65px;
    color:white !important;
}

.table{
    margin-top:100px !important;
}


#navbar_words0, #gpa0{
    color:white !important;
}

.form-control{
    height: 35px;
    width: 600px;
}
