{% extends 'layout.html' %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style0.css') }}">

{% endblock head %}


{% block body %}

<div class='whole-block'>
    <div class = 'title'>
        NCCU GPA CALCULATOR
    </div>

    
    <form action="{{ url_for('index') }}" method="post">

        <input id="input-b1" name="input-b1" type="file" class="file" data-browse-on-zone-click="true">

        <div class="form-group">
            <button class="btn btn-outline-secondary">Calculate</button>
        </div>
    </form>
</div>


<div class = 'designer'>
    Designed by Tim Yen
</div>
{% endblock body %}
        


