<!DOCTYPE html>
<html>
    <head>
        <title>PerScent%</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            @font-face {
                font-family: kaushan_script;
                src: url(../static/KaushanScript-Regular.ttf);
            }
        
        </style>
        
        {% block head %}
        {% endblock head %}

    </head>
    <body>

        {% block body %}
        {% endblock body %}
    </body>
</html>