<!DOCTYPE html>
<html>
    <head>
        <title>NCCU GPA Calculator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>
        $(document).ready(function() {
            var refresh_id = setInterval(function() {
                $.get(
                "{{ url_for('thread_status') }}", 
                /*這邊的data就是url return 的值*/
                function(data) { 
                    console.log(data);
                    
                    if (data == "true") {
                        window.location.replace("{{ url_for('result') }}");
                    }
                }
                )}
            , 1000);
        });
        </script>
    </head>
    <body>
        Wait a sec, it's loading, do not refresh this page!
    </body>
</html>