{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">

<script src="jquery.js"></script>

<script>
  // var calculator = document.getElementsByClassName("table");
  var total_score_4point3 = 0;
  var total_score_4 = 0;
  var total_credit = 0;
  var gpa0 = 0;

  // $(".table").click(function(){
  //   $('.example tr input[type="checkbox"]:checked').each(function(){
  //     var $row = $(this).closest('tr');
  //     //used :not(:first-child) to skip first element (the checkbox td)
  //     $('td:not(:first-child)', $row).each(function(i){
  //         var abc = $(this).text();
  //         alert(abc);
  //     })
  //   });              
  // });

  function calculate_gpa() {

    var course = document.getElementsByClassName("course");
    
    for (var i = 0; i < course.length; i++) {
      if (course[i].checked) {
        var row = course[i].parentNode.parentNode;
        credit = row.getElementsByTagName("td")[6].textContent
        score = row.getElementsByTagName("td")[7].textContent
        total_credit += int(float(credit)) 
        // total_score_4point3 += score_to_gpa_4point3(float(row[6].innertHTML)) * int(float(row[5].innertHTML)) 
        // total_score_4 += score_to_gpa_4(float(row[6])) * int(float(row[5].innertHTML)) 
      }
    }
    alert(total_credit)
    // gpa0 = total_score_4point3/total_credit
	  // document.getElementById("gpa0").innerHTML = gpa0;
    
  }

</script>
{% endblock head %}

{% block body %}
<div id = 'main'>

  <form  action="{{ url_for('result') }}" method="post">
    <div class = 'title'>
      NCCU GPA CALCULATOR
    </div>
</div>

<div id = "gpa0">
  GPA 
  <!-- GPA {{ gpa0 }} / 4.3 -->
  <!-- GPA {{ gpa1 }} / 4.0 -->
</div>

<table class="table" data-toggle="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">學年</th>
      <th scope="col">學期</th>
      <th scope="col">科目代號</th>
      <th scope="col">科目名稱</th>
      <th scope="col">修別</th>
      <th scope="col">學分數</th>
      <th scope="col">成績</th>
      <th scope="col">備註</th>
    </tr>
  </thead>
        
  <tbody>
    {% for semester in data_all %} 
      <tr class="table-primary">
        <td>{{ semester[0][0] }}</td>
        <td>{{ semester[0][1] }}</td>
      </tr>
      {% for semester_data in semester %}
      <tr>
        <td class="bs-checkbox"><input class="course" type="checkbox" onclick="calculate_gpa()"></td>
        <td>{{ semester_data[0] }}</td>
        <td>{{ semester_data[1] }}</td>
        <td>{{ semester_data[2] }}</td>
        <td>{{ semester_data[3] }}</td>
        <td>{{ semester_data[4] }}</td>
        <td class = "credit">{{ semester_data[5] }}</td>
        <td class = "score">{{ semester_data[6] }}</td>
        <td>{{ semester_data[7] }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>


{% endblock body %}

