{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">

<script>

  function score_to_gpa_4point3() {
      var score_interval = [90, 85, 80, 77, 73, 70, 67, 63, 60, 50, 0];
      if (score >= score_interval[0]){
          return 4.3; 
      }
      else if (score >= score_interval[1] & score < score_interval[0]){
          return 4.0;
      }
      else if (score >= score_interval[2] & score < score_interval[1]){
          return 3.7;
      }
      else if (score >= score_interval[3] & score < score_interval[2]){
          return 3.3;
      }
      else if (score >= score_interval[4] & score < score_interval[3]){
          return 3.0;
      }
      else if (score >= score_interval[5] & score < score_interval[4]){
          return 2.7;
      }
      else if (score >= score_interval[6] & score < score_interval[5]){
          return 2.3;
      }
      else if (score >= score_interval[7] & score < score_interval[6]){
          return 2.0;
      }
      else if (score >= score_interval[8] & score < score_interval[7]){
          return 1.7;
      }
      else if (score >= score_interval[9] & score < score_interval[8]){
          return 1.0;
      }
      else if (score >= score_interval[10] & score < score_interval[9]){
          return 0.0;
      }
  };

  function score_to_gpa_4() {
      var score_interval = [80, 70, 60, 50];
      if (score >= score_interval[0]){
          return 4.0; 
      }
      else if (score >= score_interval[1] & score < score_interval[0]){
          return 3.0;
      }
      else if (score >= score_interval[2] & score < score_interval[1]){
          return 2.0;
      }
      else if (score >= score_interval[3] & score < score_interval[2]){
          return 1.0;
      }
      else if (score < score_interval[3]){
          return 0.0;    
    }
  };

  
  
  // 一開始就算一次
  window.addEventListener('load', calculate_gpa ,false);
  

  // 計算的function
  function calculate_gpa() {
    console.log("calculate_gpa()")
    
    var total_score_4point3 = 0;
    var total_score_4 = 0;
    var total_credit = 0;
    var gpa0 = 0;

    var course = document.getElementsByClassName("course");
    // console.log(course)
    
    for (var i = 0; i < course.length; i++) {
      
      if (course[i].checked) {
        
        var row = course[i].parentNode.parentNode;
        credit = row.getElementsByTagName("td")[6].textContent
        score = row.getElementsByTagName("td")[7].textContent
        // console.log(credit)
        // console.log(score)
        
        // 「服務學習」跟「棄修」的不要算
        if (score == "通過" | score == "未過" |score == "棄修" | score == "成績未到或無成績"){
          continue
        }
        else{
          total_credit += parseInt(parseFloat(credit)) 
          total_score_4point3 += score_to_gpa_4point3(parseFloat(score)) * parseInt(parseFloat(credit)) 
          total_score_4 += score_to_gpa_4(parseFloat(score)) * parseInt(parseFloat(credit)) 
        }
        
      }
    }

    // total_credit == 0 時不能除，否則NaN
    if(total_credit == 0){
      var zero = 0;
      document.getElementById("gpa0").innerHTML = zero.toFixed(2);
      document.getElementById("gpa1").innerHTML = zero.toFixed(2);
    }
    else{
      gpa0 = Math.round(((total_score_4point3/total_credit) + Number.EPSILON) * 100) / 100
      gpa1 = Math.round(((total_score_4/total_credit) + Number.EPSILON) * 100) / 100
      console.log(gpa0, gpa1);
	    document.getElementById("gpa0").innerHTML = gpa0.toFixed(2);
      document.getElementById("gpa1").innerHTML = gpa1.toFixed(2);
    }
  };

  // interminate checkbox
  $(document).ready(function() { 
    var year = document.querySelectorAll('#year');
    var semester = document.querySelectorAll('#semester');

    // var checkboxes = document.querySelectorAll('#check')

   
    var arr_checkboxes = []  // 先把每個學期的tag分別存到一個array裡，放便後面取用
    var arr_checkall = []
    

    for (let i = 0; i < year.length; i++) {
        console.log(year[i].childNodes[0].nodeValue)

        let check_all = document.getElementById(`check_all${year[i].childNodes[0].nodeValue}${semester[i].childNodes[0].nodeValue}`)
        let check_boxes0 = document.getElementsByClassName(`check${year[i].childNodes[0].nodeValue} ${semester[i].childNodes[0].nodeValue}`)
        
        //先將arr_checkboxes變成array這樣後面才能用index
        let check_boxes = Array.prototype.slice.call(check_boxes0) 
        
        console.log(check_all)
        console.log(check_boxes)
        
        // 將i記錄起來才能放到onclick的function裡
        // var x = i  
        
        for (var k = 0; k < check_boxes.length; k++) {
          //一開始就把function配給每個checkbox
          console.log(`check${year[i].childNodes[0].nodeValue}${semester[i].childNodes[0].nodeValue}:checked`)
          check_boxes[k].onclick = function() { 
            console.log(`check${year[i].childNodes[0].nodeValue}${semester[i].childNodes[0].nodeValue}:checked`)
            var checkedCount = document.getElementsByClassName(`check${year[i].childNodes[0].nodeValue}${semester[i].childNodes[0].nodeValue}:checked`).length;
            
            check_all.checked = checkedCount > 0;
            check_all.indeterminate = checkedCount > 0 && checkedCount < check_boxes.length;
          }
        }

        check_all.onclick = function() {        
          for (var l = 0; l < check_boxes.length; l++) {
            check_boxes[l].checked = this.checked;
          }
          calculate_gpa();
        }
    };
  });

</script>
{% endblock head %}

{% block body %}

<nav class="navbar fixed-top navbar-light">
  <div style="margin-left: 0; margin-right: auto;">
    <span id = "navbar_words0">GPA</span><br>

    <span id = "gpa0" style="color:rgb(0, 0, 0);"></span>
    <span id = "navbar_words0">/</span>
    <span id = "navbar_words0">4.30</span><br>

    <span id = "gpa1" style="color:rgb(0, 0, 0);"></span>
    <span id = "navbar_words0">/</span>
    <span id = "navbar_words0">4.00</span>
  </div>
</nav>

<div class="container">
<div class="col-lg-11 mx-auto bg-white rounded shadow">
<table class="table table-fixed" data-toggle="table" >  
  <thead style = "position: sticky;top: 0; background-color:white;">
    <tr>
      <th scope="col">選擇</th>
      <th scope="col">學年</th>
      <th scope="col">學期</th>
      <th scope="col">科目代號</th>
      <th scope="col">科目名稱</th>
      <th scope="col">修別</th>
      <th scope="col">學分數</th>
      <th scope="col">成績</th>
      <th scope="col">備註</th>
    </tr>
  </thead>
  <tbody>
    
    {% for semester in data_all %} 
      <tr class="table-light">
        <td class="bs-checkbox">
          <!-- <input id="check-all" type="checkbox" data-show-indeterminate="true"> -->
          <input class="select-all checkbox" id="check_all{{ semester[0][0] }}{{ semester[0][1] }}" 
          type="checkbox" checked >
        </td>
        <!-- <td></td> -->
        <td id = "year"><b>{{ semester[0][0] }}</b></td>
        <td id = "semester"><b>{{ semester[0][1] }}</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>


      {% for semester_data in semester %}
      <tr>
        <td class="bs-checkbox"><input class="course check{{ semester[0][0] }}{{ semester[0][1] }}"  type="checkbox" onchange="calculate_gpa()" checked></td>
        <td>{{ semester_data[0] }}</td>
        <td>{{ semester_data[1] }}</td>
        <td>{{ semester_data[2] }}</td>
        <td>{{ semester_data[3] }}</td>
        <td>{{ semester_data[4] }}</td>
        <td class = "credit">{{ semester_data[5] }}</td>
        <td class = "score">{{ semester_data[6] }}</td>
        <td>{{ semester_data[7] }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  
  </tbody>
</table>
</div>
</div>

<!-- google form -->
<div class="col text-center">
  <a class="btn btn-outline-info btn-lg" href="https://forms.gle/wsFBWpD1KL6Ly9U59" target="_blank" role="button">Advice</a>
  <p></p>
</div>


{% endblock body %}
