{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">



<script>

  function score_to_gpa_4point3() {
      var score_interval = [90, 85, 80, 77, 73, 70, 67, 63, 60, 50, 0];
      if (score >= score_interval[0]){
          return 4.3; 
      }
      else if (score >= score_interval[1] & score < score_interval[0]){
          return 4.0;
      }
      else if (score >= score_interval[2] & score < score_interval[1]){
          return 3.7;
      }
      else if (score >= score_interval[3] & score < score_interval[2]){
          return 3.3;
      }
      else if (score >= score_interval[4] & score < score_interval[3]){
          return 3.0;
      }
      else if (score >= score_interval[5] & score < score_interval[4]){
          return 2.7;
      }
      else if (score >= score_interval[6] & score < score_interval[5]){
          return 2.3;
      }
      else if (score >= score_interval[7] & score < score_interval[6]){
          return 2.0;
      }
      else if (score >= score_interval[8] & score < score_interval[7]){
          return 1.7;
      }
      else if (score >= score_interval[9] & score < score_interval[8]){
          return 1.0;
      }
      else if (score >= score_interval[10] & score < score_interval[9]){
          return 0.0;
      }
  }

  function score_to_gpa_4() {
      var score_interval = [80, 70, 60, 50];
      if (score >= score_interval[0]){
          return 4.0; 
      }
      else if (score >= score_interval[1] & score < score_interval[0]){
          return 3.0;
      }
      else if (score >= score_interval[2] & score < score_interval[1]){
          return 2.0;
      }
      else if (score >= score_interval[3] & score < score_interval[2]){
          return 1.0;
      }
      else if (score >= score_interval[4] & score < score_interval[3]){
          return 0.0;    
  }

  
  
  // 一開始就算一次
  window.addEventListener('load', calculate_gpa ,false);
  

  // 計算的function
  function calculate_gpa() {
    
    var total_score_4point3 = 0;
    var total_score_4 = 0;
    var total_credit = 0;
    var gpa0 = 0;

    var course = document.getElementsByClassName("course");
    
    for (var i = 0; i < course.length; i++) {
      
      if (course[i].checked) {
        
        var row = course[i].parentNode.parentNode;
        credit = row.getElementsByTagName("td")[6].textContent
        score = row.getElementsByTagName("td")[7].textContent
        
        // 「服務學習」跟「棄修」的不要算
        if (score == "通過" | score == "棄修" | score == "成績未到或無成績"){
          continue
        }
        else{
          total_credit += parseInt(parseFloat(credit)) 
          total_score_4point3 += score_to_gpa_4point3(parseFloat(score)) * parseInt(parseFloat(credit)) 
          total_score_4 += score_to_gpa_4(parseFloat(score)) * parseInt(parseFloat(credit)) 
        }
        
      }
    }
    
    gpa0 = Math.round(((total_score_4point3/total_credit) + Number.EPSILON) * 100) / 100
    gpa1 = Math.round(((total_score_4/total_credit) + Number.EPSILON) * 100) / 100
	  document.getElementById("gpa0").innerHTML = gpa0;
    document.getElementById("gpa1").innerHTML = gpa1;
  }

</script>
{% endblock head %}

{% block body %}

<nav class="navbar fixed-bottom navbar-light" style="background-color:#00e699;">
  <div>
    <a id="nav-brand">NCCU GPA CALCULATOR</a>
  </div>

  <div>
    <span id = "navbar_words0">GPA</span>
    <span id = "gpa0" style="color:rgb(0, 0, 0);"></span>
    <span id = "navbar_words0">/</span>
    <span id = "navbar_words0">4.3</span>
    <span id = "navbar_words0"></span>
    <span id = "navbar_words0"></span>
    <span id = "gpa1" style="color:rgb(0, 0, 0);"></span>
    <span id = "navbar_words0">/</span>
    <span id = "navbar_words0">4.0</span>
  </div>
  
</nav>



<table class="table" data-toggle="table">
  <thead>
    <tr>
      <th scope="col">選擇</th>
      <th scope="col">學年</th>
      <th scope="col">學期</th>
      <th scope="col">科目代號</th>
      <th scope="col">科目名稱</th>
      <th scope="col">修別</th>
      <th scope="col">學分數</th>
      <th scope="col">成績</th>
      <th scope="col">備註</th>
    </tr>
  </thead>
        
  <tbody>
    {% for semester in data_all %} 
      <tr class="table-light">
        <td></td>
        <td>{{ semester[0][0] }}</td>
        <td>{{ semester[0][1] }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% for semester_data in semester %}
      <tr>
        <td class="bs-checkbox"><input class="course" type="checkbox" onclick="calculate_gpa()" checked></td>
        <td>{{ semester_data[0] }}</td>
        <td>{{ semester_data[1] }}</td>
        <td>{{ semester_data[2] }}</td>
        <td>{{ semester_data[3] }}</td>
        <td>{{ semester_data[4] }}</td>
        <td class = "credit">{{ semester_data[5] }}</td>
        <td class = "score">{{ semester_data[6] }}</td>
        <td>{{ semester_data[7] }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


{% endblock body %}