<!DOCTYPE html>
<html>
    <head>
        <title>NCCU GPA Calculator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            @font-face {
                font-family: kaushan_script;
                src: url(../static/KaushanScript-Regular.ttf);
            }
        
        </style>

        <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

    </head>

    <body>

      <table class="table" data-toggle="table">
        <thead>
        <tr>
          <th data-checkbox="true"></th>
          <th data-field="name">Item Name</th>
          <th data-field="price">Item Price</th>
        </tr>
        </thead>

        <tbody></tbody>         
          <tr>
            <td>hello</td>
            <td>hihi</td>
          </tr>
        </tbody>
        
      </table>

    </body>
</html>
